// Resets / sensible defaults for CMS-managed content

.cms {
  h1[id] a, h2[id] a, h3[id] a, h4[id] a, h5[id] a, h6[id] a {
    text-decoration: inherit;
    color: inherit;
  }

  img {
    height: auto;
  }

  ul {
    list-style: initial;
    padding-left: 40px;
  }

  &-image {
    img {
      @media (min-width: $bp-md) {
        width: 100%;
      }
    }
  }

  .div-top {
    border-top: 1px solid $black;
    padding-top: 1.5rem;
  }

  .div-bottom {
    border-bottom: 1px solid $black;
    padding-bottom: 1.5rem;
  }

  .image-text-img {
    img {
      width: 50%;

      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
  }
}

